
li > a.active {
    color: #F97924 !important;
}

li > a.nav-link{
  color: white;
}

.navigation-links{
  width:60%; 
}

.navbar-dark-custom{
  background-color: #4e5d6c !important;
}

.session-dropdown{
  max-height: 200px;
  overflow-y: auto; 
}

@media (max-width: 768px) {
  .menu-visibility {
    display: none;
  }
}

@media (max-width: 576px) {
  .search-div{
    width:60%;
    display: inline-flex;
  }
}

@media (min-width: 576px) and (max-width:768px) {
  .search-div{
    width:100%;
    display: inline-flex;
  }
}

@media (min-width: 768px) {
  .side-panel-visibility {
    display: none;
  }
  .search-div{
    display: inline-flex;
  }
}




.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #39444e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 24px;
  margin-left: 50px;
}
