<div class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" >Events</a>
      
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/events']" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">All Events</a>
          </li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/events/new']" routerLinkActive="active">Create Event</a></li>
        </ul>
         
        <form id="searchForm" class="form-inline" (ngSubmit)="searchSessions(searchTerm)">
            <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search Sessions" >
            <button class="btn btn-default btn-default-color"  modal-trigger="searchResults">Go</button>
         
        </form>
         <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" *ngIf="!isAuthenticated()" [routerLink]="['user/login']"> Login </a>
              <a class="nav-link" *ngIf="isAuthenticated()" [routerLink]="['user/profile']">Welcome {{firstName}}</a>
            </li>
          </ul>
  </div>

  <simple-modal closeOnBodyClick="true" elementId="searchResults" title="Matching Sessions">
    <div class="list-group">
      <a class="list-group-item" *ngFor="let session of foundSessions" [routerLink]="['/events',session.eventId]">{{session.name}}</a>
    </div>
  </simple-modal>
