/* Add application styles & imports to this file! */

.margin-btn-canel{
  margin: 1rem;
}

.f-label ::before {
    content: ":";
    float: right;
    line-height: 1.8;
}

.f-label .f-required::after {
  content: "*";
  color: red;
  font-size: 14px;
}

.cursor-pointer{
  cursor: pointer;
}

em{
    float:right;
    color: #E05C65;
    padding-left: 10px;
}



.error input,.error select, .error textarea{
    background-color: #E3C3E5;
}


.error ::-webkit-input-placeholder{
    color: #999;
}


.error ::-moz-placeholder{
    color: #999;
}

.error :-moz-placeholder{
    color: #999;
}


.error :ms-input-placeholder{
    color: #999;
}