/* Add application styles & imports to this file! */

.ngb-dp-navigation-select select{
  background-color: #ffffff !important;
}

.btn:focus{
  box-shadow: none !important;
}

.btn-primary-color{
  background-color:#df691a !important;
  border-color: #df691a !important;
}

.add-session-link{
  color: #df691a;
}

.btn-group .active{
  background-color: #39444e !important;
}

.btn-default-color{
  color: #ffffff !important;
  background-color: #4c5053 !important;
}

@import '~bootstrap/dist/css/bootstrap.min.css';

body{
  color: #ebebeb;
  background-color: #2b3e50;
}

hr {
  border-top: 1px solid #596a7b;
}

.margin-btn-canel{
  margin: 1rem;
}

.f-label ::before {
    content: ":";
    float: right;
    line-height: 1.5;
}

.f-label .f-required::after {
  content: "*";
  color: red;
  font-size: 14px;
}

.cursor-pointer{
  cursor: pointer;
}

em{
    float:right;
    color: #E05C65;
    padding-left: 10px;
}



.error input,.error select, .error textarea{
    background-color: #E3C3E5;
}


.error ::-webkit-input-placeholder{
    color: #999;
}


.error ::-moz-placeholder{
    color: #999;
}

.error :-moz-placeholder{
    color: #999;
}


.error :ms-input-placeholder{
    color: #999;
}