<div class="col-md-12">
    <h3>Create Session</h3>
  </div>
  <div class="col-md-6">
    <form [formGroup]="newSessionForm" (ngSubmit)="saveEvent(newSessionForm.value)" autocomplete="off">
      <div class="form-group" [ngClass]="{'error': name.invalid && name.dirty}">
        <span class="f-label"><label class="f-required" for="sessionName">Session Name</label></span>
        <em *ngIf="name.invalid && name.dirty">Required</em>
        <input formControlName="name" id="sessionName" type="text" class="form-control" placeholder="session name..." />
      </div>

      <div class="form-group" [ngClass]="{'error': presenter.invalid && presenter.dirty}">
        <span class="f-label"><label for="eventDate">Presenter</label></span>
        <em *ngIf="presenter.invalid && presenter.dirty">Required</em>
        <input class="f-required" formControlName="presenter" id="presenter" type="text" class="form-control" placeholder="presenter..." />
      </div>

      <div class="form-group" [ngClass]="{'error': duration.invalid && duration.dirty}">
        <span class="f-label"><label class="f-required" for="duration">Duration</label></span>
        <em *ngIf="duration.invalid && duration.dirty">Required</em>
        <select formControlName="duration" class="form-control">
          <option value="">select duration...</option>
          <option value="30 minutes">Half Hour</option>
          <option value="1 Hour">1 Hour</option>
          <option value="Half Day">Half Day</option>
          <option value="Full Day">Full Day</option>
        </select>
      </div>

      <div class="form-group" [ngClass]="{'error': level.invalid && level.dirty}">
        <span class="f-label"><label class="f-required" for="level">Level</label></span>
        <em *ngIf="level.invalid && level.dirty">Required</em>
        <select formControlName="level" class="form-control">
          <option value="">select level...</option>
          <option value="Beginner">Beginner</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Advanced">Advanced</option>
        </select>
      </div>

      <div class="form-group" [ngClass]="{'error': abstract.invalid && abstract.dirty}">
        <span class="f-label"><label class="f-required" for="abstract">Abstract</label></span>
        <em *ngIf="abstract.invalid && abstract.dirty
        && abstract?.errors?.required">Required</em>
        <em *ngIf="abstract.invalid && abstract.dirty 
        && abstract?.errors?.maxlength">Cannot Exceed characters more 500</em>
        <textarea formControlName="abstract" id="abstract" rows=3 class="form-control" placeholder="abstract..."></textarea>
      </div>

      <button type="submit" [disabled]="newSessionForm.invalid" class="btn btn-primary btn-primary-color">Save</button>
      <button type="button" (click)="cancel()" class="btn btn-default btn-default-color margin-btn-canel">Cancel</button>
    </form>
  </div>