.container{
    padding-left: 20px;
    padding-right: 20px;
}

/* .eventImage{
    height: 100px;
} */

a{
    cursor: pointer;
}

.address-display{
  display: flex;
}

@media (min-width: 768px){
  .address-display{
    display: block;
  }  
}