<div class="container">
  
    <div class="row">
      <div class="col-md-11">
        <h3>{{event?.name | uppercase}} </h3>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-6">
        <div><strong>Date:</strong> {{event?.date | date}}</div>
        <div><strong>Time:</strong> {{event?.time}}</div>
        <div><strong>Price:</strong> {{event?.price | currency:'USD'}}</div>
      </div>
      <div class="col-sm-6">
        <address class="address-display">
          <div><strong>Address:</strong></div>
          <div>{{event?.location?.address}}
          {{event?.location?.city}}, {{event?.location?.country}}</div>
        </address>
      </div>
    </div>

    <hr>

    <div class="row" style="margin-bottom:  10px;">
      <div class="col-md-12 d-flex">
        <h3 style="margin: 0 10px 0 0">Sessions</h3>
        <i class="fa fa-plus-circle plus-size" (click)="addSession()"></i>
      </div>
    </div>

    <div *ngIf="!addMode" class="row" style="margin-bottom:  10px;">
      <div class="col-md-6">
        <div class="btn-group btn-group-sm">
          <label class="filter-label">Sort By:</label>
          <button class="btn btn-default btn-default-color" [class.active]="sortBy==='name'" (click)="sortBy = 'name'">By Name</button>
          <button class="btn btn-default btn-default-color" [class.active]="sortBy==='votes'" (click)="sortBy = 'votes'">By Votes</button>
        </div>
      </div>
      <div class="col-md-6"> 
        <div class="btn-group btn-group-sm">
        <label class="filter-label">Filter:</label>
        <button class="btn btn-default btn-default-color" [class.active]="filterBy ==='all'" (click)="filterBy ='all'">
          All
        </button>
        <button class="btn btn-default btn-default-color" [class.active]="filterBy ==='beginner'" (click)="filterBy ='beginner'">
          Beginner
        </button>
        <button class="btn btn-default btn-default-color" [class.active]="filterBy ==='intermediate'" (click)="filterBy ='intermediate'">
          Intermediate
        </button>
        <button class="btn btn-default btn-default-color" [class.active]="filterBy ==='advanced'" (click)="filterBy ='advanced'">
          Advanced
        </button>
      </div>
      </div>
    </div>
    <session-list [sortBy]="sortBy" [filterBy]="filterBy" *ngIf="!addMode" [sessions]="event?.sessions"></session-list>

    <create-session *ngIf="addMode" (saveNewSession)="saveNewSession($event)" (cancelAddSession)="cancelAddSession()"></create-session>

  </div>