.container{
    padding-left: 20px;
    padding-right: 20px;
}

.filter-label{
  margin-right: 10px;
  line-height: 2;
  margin-bottom: 0px;
}

a{
    cursor: pointer;
}

.address-display{
  display: flex;
}

@media (min-width: 768px){
  .address-display{
    display: block;
  }  
}